*{
    padding: 0;
    margin: 0;
}
/* Font Family
  font-family: "Inter", sans-serif;
  font-family: "Poppins", serif;
  font-family: "Roboto", sans-serif;
*/
h1{
    font-family: "Inter", sans-serif;
}