:root{
  --dark-light: #3A3A3A;
  --dark: #0A0826;
  --pink: #E02C6D;
  --grey: #6C6C6C;
  --inter: "Inter", sans-serif;
  --roboto: "Roboto", sans-serif;
  --poppins: "Poppins", serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
  max-width: 100%;
}
/* Font Family
  font-family: "Inter", sans-serif;
  font-family: "Poppins", serif;
  font-family: "Roboto", sans-serif;
*/
/* Sheard Style */
.btn-primary {
	padding: 12px 30px;
	background: var(--pink);
	color: #fff;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	font-weight: 600;
}
.container-flued{
  width: 70%;
  margin: auto;
}
.container{
  width: 65%;
  margin: auto;
}
/* Main Style */
.header-section {
	padding: 20px 0 50px 0;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 40%;
}
.menu {
	width: 44%;
}
.logo h2 a {
	text-decoration: none;
	font-family: var(--poppins);
	font-size: 24px;
	font-weight: 700;
	color: var(--dark);
}
.menu ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(6,auto);
	text-align: right;
}
.menu ul li a{
  text-decoration: none;
  font-family: var(--poppins);
  color: var(--dark);
}
/* banner Section */
.banner-section {
	display: flex;
	padding: 90px 0 0 0;
	align-items: center;
}
.banner-content {
	width: 50%;
}
.banner-content h1 {
	font-size: 52px;
	font-family: var(--poppins);
	line-height: 70px;
	margin-bottom: 20px;
}
.banner-content p {
	font-family: var(--poppins);
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 30px;
}
.banner-image {
  background: url(./images/Circle\ design.svg) no-repeat right center;
	background-size: contain;
	width: 50%;
	text-align: right;
}
/* Sponsor Section */
.sponsor-section {
	padding: 40px 0;
}
.sponsor-wrap {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	align-items: center;
	justify-items: center;
	padding: 30px 0;
	border-image: linear-gradient(to right, #c4dddd 19%, #ededf0 100%, #c4dddd 19%) 1;
	border-radius: 5px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 0;
	border-left-width: 0;
	border-style: solid;
}
/* product Section */
.product-section{
  padding: 90px 0;
}
.product-title h2 {
	padding-bottom: 32px;
	text-align: center;
	font-family: var(--poppins);
	font-size: 28px;
	font-weight: 600;
}
.product-box-wrap {
	display: grid;
	grid-template-columns: repeat(3, 380px);
	justify-content: space-between;
}
.product-item {
	margin-bottom: 50px;
	box-shadow: 1px 1px 15px #ddd;
	padding: 17px;
}
.product-item img {
	width: 100%;
}
.product-item h1 {
  font-size: 28px;
  color: var(--dark);
  font-family: var(--poppins);
  margin: 12px 0px;
  font-weight: 500;
}
.product-item h4 {
	font-family: var(--roboto);
	margin-bottom: 19px;
	font-size: 24px;
	font-weight: 400;
}
.product-item ul li strong {
	margin-right: 19px;
  color: #FB8200;
}
.product-item ul li {
	list-style: none;
	margin-bottom: 11px;
	color: var(--grey);
	font-size: 14px;
	font-family: var(--inter);
	font-weight: 500;
}