/* Mobile Devices */
@media screen and (max-width: 576px) {
    /* header and banner */
    .container-flued {
        width: 95%;
    }
    .header-section {
        padding: 20px 0 0 0;
    }
    .navbar{
        flex-direction: column;
    }
    .logo {
        width: 100%;
        text-align: center;
    }
    .menu {
        width: 100%;
        margin-top: 22px;
    }
    .menu ul {
        text-align: center;
    }
    .banner-section {
        flex-direction: column-reverse;
        padding: 50px 0;
    }
    
    .banner-image {
        background-position-x: center;
        width: 100%;
    }
    .banner-content {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .banner-content h1 {
        font-size: 28px;
        line-height: 43px;
        margin-bottom: 15px;
    }
    .banner-content p {
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 20px;
        padding: 0 7px;
    }
    /* Sponsor Devices */
    .container {
        width: 90%;
    }
    .sponsor-wrap {
        grid-template-columns: repeat(4, 1fr);
        gap: 23px;
    }
    /* product Section */
    .product-box-wrap {
        grid-template-columns: repeat(1, 100%);
    }
    .product-item {
        margin-bottom: 20px;
    }
    /* Featured product section */
    .featured-product-wrap{
        flex-direction: column-reverse;
    }
    .f-product-img{
        width: 100%;
    }
    .f-product-content {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .f-product-content h1 {
        font-size: 24px;
        line-height: 36px;
    }
    .f-product-content p {
        padding-right: 0;
        font-size: 14px;
    }
    /* footer section */
    .footer-content-wrap h2{
        font-size: 24px;
    }
    .footer-content-wrap ul li a {
        font-size: 21px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

/* Tablet Devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    /* header and banner */
    .container-flued {
        width: 85%;
    }
    .menu {
        width: 60%;
    }
    .banner-content h1 {
        font-size: 35px;
        line-height: 52px;
    }
    .banner-content p {
        font-size: 15px;
    }
    /* Sponsor Section */
    .container {
        width: 80%;
    }
    .sponsor-wrap {
        gap: 30px;
    }
    /* product Section */
    .product-box-wrap {
        grid-template-columns: repeat(3, 32%);
        gap: 21px;
    }
    .product-item {
        margin-bottom: 4px;
    }
    .seeMore-btn a {
        margin-top: 30px;
        display: inline-block;
    }
    /* Featured product section */
    .f-product-img {
        width: 37%;
        margin-right: 3%;
    }
    .f-product-content h1 {
        font-size: 28px;
        line-height: 41px;
    }
    .f-product-content p {
        font-size: 14px;
        line-height: 24px;
        margin: 7px 0;
        padding-right: 0;
        font-weight: 500;
    }
}